---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>About Galactic Blog </h1>



<div>
    <img src="/images/author.png" alt="Author of Galactic Blog Palina Skakun" class="about">
    <p class="about-me">
        Hi there! I'm Palina Skakun, the author behind Galactic Blog. I have a passion for exploring the wonders of the galaxy and sharing my discoveries with you. Join me on this journey as we explore the mysteries of the universe!
        <br></br>

        When I'm not gazing at the stars, I like hiking, experimenting with new baking recipes, or reading science fiction novels.
        <br></br>
        One of my all-time favorite books about space is "Voyage to the Red Planet" by Alex Starlight. It's a must-read for any space enthusiast!

    </p>
</div>
    </p>
</div>
<br></br>

<hr class="custom-hr"></hr>

<br></br>

<p>
    Connect with me on LinkedIn:
    <br></br>
    {% linkedin "https://www.linkedin.com/in/palinaskakun/" "LinkedIn Profile" %}
 </p>