---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Galactic Blog</h1>

<div>
    <img src="/images/planet.png" alt="Author of Galactic Blog Palina Skakun" class="home">
    <p>
        Check out our latest blog posts:
        <br></br>
        <a class="home-links" href="/blog-post-1/">EXPLORING DISTANT WORLDS</a>
        <br></br>
        <a class="home-links" href="/blog-post-2/">THE SECRETS OF DISTANT STARS</a>

    </p>
</div>
<br></br>

<hr class="custom-hr"></hr>

<p>
<br></br>
Connect with me on LinkedIn:
<br></br> {% linkedin "https://www.linkedin.com/in/palinaskakun/" "LinkedIn Profile" %}
</p>